<div class="container-fluid body-image">
    <div class="text-center pt-3">
        <h1>This is My First CRUD Application on Asp.Net Core</h1>
    </div>
    <div>
        <h2 class="margin-left-10"> Asp.Net Core Intro</h2>
    </div>
    <div class="margin-left-20">
        <ul>
            <li>
                <p>Asp.Net Core is a cross platform, High Performance and open-source Framework.</p>
            </li>
            <li>
                <p>With Asp.Net Core you can: Build web apps and services, Internet of things(IoT) apps, and mobile Backends.</p>
            </li>
            <li>
                <p>You can use any operating for Asp.Net core as it is supported by MacOS, Linux and Windows.</p>
            </li>
        </ul>
    </div>
    <div>
        <h2 class="margin-left-10">Things I'll learn in My First Application</h2>
    </div>
    <div class="margin-left-20">
        <ul>
            <li>
                <p>I'll about MVC(Model-View-Controller) in Asp.Net Core</p>
            </li>
            <li>
                <p>How data model is created.</p>
            </li>
            <li>
                <p>Actions define in Controller.</p>
            </li>
            <li>
                <p>Actions are called from the Html.</p>
            </li>
            <li>
                <p>Creating actions in Api Controller.</p>
            </li>
            <li>
                <p>Data and action Flow in API.</p>
            </li>
            <li>
                <p>How Web Api and MVC project link to each other.</p>
            </li>
        </ul>
    </div>
</div>
