@model PracticeProject.Models.Department

@{
    ViewData["Title"] = "Create-Department";
}
<div class="container-fluid">
    <h3 class="m-md-1">Create Department</h3>
    <div class="row">
        <div class="col-md-6">
            <div>
                <img src="~/css/form.jpg" style="height: 450px" />
            </div>
        </div>
        <div class="col-md-6">
            <div style="margin-top: 10px">
                <form method="post" enctype="multipart/form-data" asp-controller="Department" asp-action="Create">
                    <p class="m-md-1">Please Enter Your Details</p>
                    <br />
                    <div asp-validation-summary="ModelOnly"></div>
                    <div class="m-md-1">
                        <label asp-for="Department_Name">Full Name</label>
                        <br />
                        <input asp-for="Department_Name" placeholder="ex: IT department, etc" class="col-md-10" />
                        <span asp-validation-for="Department_Name"></span>
                    </div>
                    <br />
                    <div class="form-group">
                        <br />
                        <input type="submit" value="Create" class="button col-md-10 create-button" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="text-center mt-3">
    <a type="button" asp-action="Index" class="button list-button">Back To List</a>
</div>
